# Gradle
.gradle/
build/
**/build/

# Gradle wrapper

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local env / config
/src/main/resources/application.properties
/src/main/resources/application.yml
.env
env.properties

# Sensitive files
secrets/
*.keystore

# Others
node_modules/

# If you add more local config files, list them here

# [추가] MariaDB/MySQL 데이터 볼륨 무시
mariadb_data/