apiVersion: v1
kind: Secret
metadata:
  name: serve-secrets
  namespace: serve
type: Opaque
stringData:
  DB_HOST: "<RDS_HOST>"
  DB_USERNAME: "serve_user"
  DB_PASSWORD: "<DB_PASSWORD>"
  JWT_SECRET: "<JWT_SECRET>"